
body {
  background-color: whitesmoke;
  height: 750px;
  font-family: "Quicksand", sans-serif;
}

#nav-list
{
  padding-left:10px;
  height:auto;
}

.img_main{
	float: left;
  width: 300px;
  height: 230px;
	padding-right: 12px;
}

#hover_enlarge:hover  
{  
  width: 575px;
  height: 375px; 
}

.img_one{
	/* float: left; */
  width: 575px;
  height: 375px;
	padding-right: 12px;
}

.img2{
    width:  175px;
    height: 175px;
}

#figure { 
position: relative;
}

.title {
    color: rgb(72, 185, 168);
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 50px;
}

h4 {
  color: rgb(72, 185, 168);
  font-weight: bold;
  text-align: center;
}

p {
    color: rgb(62, 68, 68);
    font-size: 14px;
}

  .box {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 10px;
    color: #ffffff;
    background-color: rgb(255, 255, 255);
  
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
  table {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  
  th {
    background: #009578;
    color: #ffffff;
    text-align: left;
  }
  
  th,
  td {
    padding: 10px 20px;
  }
  
  tr:nth-child(even) {
    background: #eeeeee;
  }

  .scrollit {
    overflow:scroll;
    height:1000px;
  }

  @media (max-width: 600px) {
    .nav li {
      padding: 10px;
    }
    img{
      /* float: left; */
      width: 250px;
      height: 250px;
      padding-right: 5px;
    } 
    
    #hover_enlarge:hover  
    {  
      width: 475px;
      height: 275px; 
    }
    .img_one{
      /* float: left; */
      width: 475px;
      height: 275px;
      padding-right: 5px;
    }
  
    .scrollit {
      overflow:scroll;
      height:500px;
    }
 

  .nav ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }
}